<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lohand - A library for Lodash functions in Handlebars</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body>

  <div class="container">
    <article>
      {{ content }}
    </article>
  </div>

  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/languages/handlebars.min.js"></script>
  <script>
hljs.initHighlightingOnLoad();
  </script>
</body>
</html>
